.show-card-styles {
    /* background-color: teal;
    border: 20px solid rgb(217, 193, 193); */
}

/* .rendered-shows {
    border: 7px dashed grey;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    color: yellow;

} */


/* .shows-list-styles {
    border: thick double thistle;
    color: yellow;
} */