.full-navbar {
    border: .3em groove rgb(114, 94, 94);
    height: 60px;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0.2rem 1.1rem;
    background-color: #b2101033;
    /* color: black; */
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.full-navbar ul {
    display: flex;
    padding: 0;
}

.full-navbar li {
    list-style-type: none;
    margin: 0 1rem;
}

.full-navbar Link {
    text-decoration: none;
    display: block;
    width: 100%;
}





@media screen and (max-width: 768px) {
    .full-navbar ul {
        /* display: flexbox;
        flex-direction: column;
        width: 100vw;
        height: calc(100vh - 777px);
        background-color: rgba(251, 185, 185, 0.808);
        border-top: 1px solid black; */
        display: none;

    }

    .full-navbar.expanded ul {
        display: block;
    }

    .full-navbar li {
        text-align: center;
        margin: 0;
    }

    .full-navbar Link {
        color: black;
        width: 100%;
        padding: 1.5rem 3rem;
    }

    .full-navbar li:hover {
        background-color: #ccc7c7;
    }
}